<!DOCTYPE html>
<html>
<include file="Public/head" />
<body>
<div class="layui-fluid">
    <div class="layui-row layui-col-space15">
        <div class="layui-col-md12">
            <div class="layui-card">
                <div class="layui-card-header">{$title}</div>
                <div class="layui-card-body">
                    <div class="layui-tab layui-tab-brief">
                        <ul class="layui-tab-title">
                            <li class="layui-this">网站设置</li>
                            <li class="">APP设置</li>
                        </ul>
                        <div class="layui-tab-content">
                            <div class="layui-tab-item layui-show">
                                <div class="layui-form">
                                    <div class="layui-form-item">
                                        <label class="layui-form-label">网站名称</label>
                                        <div class="layui-input-block">
                                            <input type="text" name="website_name" value="{$config.website_name}" placeholder="输入网站名称" class="layui-input w300">
                                        </div>
                                    </div>
                                    <div class="layui-form-item">
                                        <label class="layui-form-label">网站域名</label>
                                        <div class="layui-input-block">
                                            <input type="text" name="website_url" value="{$config.website_url}" placeholder="输入网站域名" class="layui-input w300">
                                        </div>

                                    </div>
                                    <div class="layui-form-item">
                                        <label class="layui-form-label">关键字</label>
                                        <div class="layui-input-block">
                                            <div class="layui-input-inline">
                                                <input type="text" name="website_keyword" value="{$config.website_keyword}" placeholder="输入关键字" class="layui-input w300">
                                            </div>
                                            <div class="layui-input-inline">多个关键字用空格分隔</div>
                                        </div>
                                    </div>
                                    <div class="layui-form-item">
                                        <label class="layui-form-label">网站介绍</label>
                                        <div class="layui-input-block">
                                            <textarea name="website_description" class="layui-input layui-textarea w300" placeholder="输入网站介绍" rows="4">{$config.website_description}</textarea>
                                        </div>
                                    </div>
                                    <div class="layui-form-item">
                                        <div class="layui-input-block">
                                            <button class="layui-btn" onclick="submit()">确认保存</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="layui-tab-item">
                                <div class="layui-form">
                                    <div class="layui-form-item">
                                        <label class="layui-form-label">APP logo</label>
                                        <div class="layui-input-block">
                                            <div class="layui-input-inline">
                                                <input type="text" name="app_logo" value="{$config.app_logo}" placeholder="" class="layui-input w300">
                                            </div>
                                            <div class="layui-input-inline">建议图片尺寸 100*100px</div>
                                        </div>
                                    </div>
                                    <div class="layui-form-item">
                                        <label class="layui-form-label">APP名称</label>
                                        <div class="layui-input-block">
                                            <div class="layui-input-inline">
                                                <input type="text" name="app_name" value="{$config.app_name}" placeholder="输入APP名称" class="layui-input w300">
                                            </div>
                                            <div class="layui-input-inline"></div>
                                        </div>
                                    </div>
                                    <div class="layui-form-item">
                                        <label class="layui-form-label">APP版本</label>
                                        <div class="layui-input-block">
                                            <div class="layui-input-inline">
                                                <input type="text" name="app_version" value="{$config.app_version}" placeholder="输入APP版本" class="layui-input w300">
                                            </div>
                                            <div class="layui-input-inline"></div>
                                        </div>
                                    </div>
                                    <div class="layui-form-item">
                                        <label class="layui-form-label">APP介绍</label>
                                        <div class="layui-input-block">
                                            <div class="layui-input-inline">
                                                <textarea name="app_intro" rows="4" placeholder="输入APP介绍" class="layui-input layui-textarea w300">{$config.app_intro}</textarea>
                                            </div>
                                            <div class="layui-input-inline"></div>
                                        </div>
                                    </div>
                                    <div class="layui-form-item">
                                        <div class="layui-input-block">
                                            <button class="layui-btn" onclick="submit()">确认保存</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    // 提交信息
    function submit() {
        // 检查参数
        var data = checkParam();
        if(!data) return false;
        doPost('', data, function(res) {
            showMsg(res.code, res.message, function() {
                if(res.code == 1) {
                    location.reload();
                }
            });
        });
    }
</script>
</body>
</html>