<!DOCTYPE html>
<html>
<include file="Public/head"/>
<body>
<div class="layui-fluid">
    <div class="layui-row layui-col-space15">
        <div class="layui-col-md12">
            <div class="layui-card">
                <div class="layui-card-header">菜单管理</div>
                <div class="layui-card-body">
                    <div style="padding-bottom: 10px;">
                        <a href="{:U('AdminMenu/addMenu')}" class="layui-btn layui-btn-normal layui-btn-radius">添加菜单</a>
                        <!--<button class="layui-btn layui-btn-warm layui-btn-radius" >锁定</button>-->
                        <!--<button class="layui-btn layui-btn-danger layui-btn-radius" onclick="confirmAllAction('{:U('AdminMenu/delMenu')}', '删除')">删除</button>-->
                    </div>
                    <table class="layui-table" cellspacing="0" cellpadding="0" border="0">
                        <thead>
                        <tr>
                            <th width="20"><input type="checkbox" id="checkAllId" class="layui-input"></th>
                            <th>ID</th>
                            <th>排序</th>
                            <th>菜单名称</th>
                            <th>路由</th>
                            <th>菜单类型</th>
                            <th>状态</th>
                            <th>操作</th>
                        </tr>
                        </thead>
                        <tbody>
                        <empty name="list">
                            <tr><td colspan="12" style="text-align: center;">暂无数据</td></tr>
                        </empty>
                            <volist name="list" id="item">
                                <tr>
                                    <td><input type="checkbox" name="ids" value="{$item.id}" class="layui-input"></td>
                                    <td>{$item.id}</td>
                                    <td table-edit="true" table-edit-url="{:U('AdminMenu/editSort', array('id'=>$item['id']))}" table-edit-key="sort">{$item.sort}</td>
                                    <td>{$item.name}</td>
                                    <td>{$item.router}</td>
                                    <td><?php if($item['type'] == '1'){echo '菜单';}else if($item['type'] == 2){echo '行内按钮';}else {echo '按钮';} ?></td>
                                    <td>{$item['status'] == 1 ? '启用' : '禁用'}</td>
                                    <td>
                                        <button class="layui-btn layui-btn-xs layui-btn-normal" onclick="jumpUrl('{:U('AdminMenu/editMenu', array('id'=>$item['id'], 'system'=>0))}')">编辑</button>
                                        <button class="layui-btn layui-btn-xs layui-btn-warm" onclick="confirmOneAction('{:U('AdminMenu/lockMenu')}', '{$item['status'] == 1 ? '禁用' : '启用'}','{$item.id}')">{$item['status'] == 1 ? '禁用' : '启用'}</button>
                                        <button class="layui-btn layui-btn-xs layui-btn-danger" onclick="confirmOneAction('{:U('AdminMenu/delMenu')}', '删除','{$item.id}')">删除</button>
                                    </td>
                                </tr>
                                <volist name="item['sub_list']" id="sub_item">
                                    <tr>
                                        <td><input type="checkbox" name="ids" value="{$sub_item.id}" class="layui-input"></td>
                                        <td>{$sub_item.id}</td>
                                        <td table-edit="true" table-edit-url="{:U('AdminMenu/editSort', array('id'=>$sub_item['id']))}" table-edit-key="sort">{$sub_item.level|str_repeat='&nbsp;&nbsp;&nbsp;&nbsp;', ###}{$sub_item.sort}</td>
                                        <td>{$sub_item.level|str_repeat='&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;', ###}{$sub_item.name}</td>
                                        <td>{$sub_item.router}</td>
                                        <td><?php if($sub_item['type'] == '1'){echo '菜单';}else if($sub_item['type'] == 2){echo '行内按钮';}else {echo '按钮';} ?></td>
                                        <td>{$sub_item['status'] == 1 ? '启用' : '禁用'}</td>
                                        <td>
                                            <button class="layui-btn layui-btn-xs" onclick="jumpUrl('{:U('AdminMenu/editMenu', array('id'=>$sub_item['id'], 'system'=>0))}')">编辑</button>
                                            <button class="layui-btn layui-btn-xs layui-btn-warm" onclick="confirmOneAction('{:U('AdminMenu/lockMenu')}', '{$sub_item['status'] == 1 ? '禁用' : '启用'}','{$sub_item.id}')">{$sub_item['status'] == 1 ? '禁用' : '启用'}</button>
                                            <button class="layui-btn layui-btn-xs layui-btn-danger" onclick="confirmOneAction('{:U('AdminMenu/delMenu')}', '删除','{$sub_item.id}')">删除</button>
                                        </td>
                                    </tr>
                                </volist>
                            </volist>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>