<!-- 头部区域 -->
<ul class="layui-nav layui-layout-left">
    <li class="layui-nav-item layadmin-flexible" lay-unselect>
        <a href="javascript:;" layadmin-event="flexible" title="侧边伸缩">
            <cite><i class="layui-icon layui-icon-shrink-right" id="LAY_app_flexible"></i></cite>
        </a>
    </li>
    <li class="layui-nav-item" lay-unselect>
        <a href="javascript:;" layadmin-event="refresh" title="刷新">
            <cite><i class="layui-icon layui-icon-refresh-3"></i> 刷新</cite>
        </a>
    </li>
    <volist name="menu_top" id="item">
        <li class="layui-nav-item" lay-unselect>
            <a href="javascript:;">
                <cite><i class="layui-icon layui-icon-{$item['icon'] != '' ? $item['icon'] : 'file-b'}"></i> {$item.name}</cite>
            </a>
            <dl class="layui-nav-child">
                <volist name="item['sub_list']" id="sub_item">
                    <dd><a lay-href="{:U($sub_item['router'])}">{$sub_item.name}</a></dd>
                </volist>
            </dl>
        </li>
    </volist>
    <if condition="APP_DEBUG">
    <li class="layui-nav-item" lay-unselect>
        <a href="javascript:;">
            <cite><i class="layui-icon layui-icon-app"></i> 开发者配置</cite>
        </a>
        <dl class="layui-nav-child">
            <dd><a lay-href="{:U('AdminMenu/system')}">顶部菜单</a></dd>
            <dd><a lay-href="{:U('AdminMenu/index')}">菜单管理</a></dd>
            <dd><a lay-href="{:U('Debug/createObject')}">懒人神器1.0</a></dd>
            <dd><a lay-href="{:U('Debug/index')}">模板生成</a></dd>
            <dd><a target="_blank" href="/shouce.docx">框架使用手册</a></dd>
        </dl>
    </li>
    </if>
</ul>
<ul class="layui-nav layui-layout-right" lay-filter="layadmin-layout-right">
    <li class="layui-nav-item" lay-unselect style="margin-right: 30px;">
        <a href="javascript:;">
            <cite><i class="layui-icon layui-icon-user"></i> 管理员: {$userInfo.username}</cite>
        </a>
        <dl class="layui-nav-child">
            <dd><a lay-href="{:U('Admin/info')}">基本资料</a></dd>
            <dd><a lay-href="{:U('Admin/editPwd')}">修改密码</a></dd>
            <hr>
            <dd onclick="jumpUrl( '{:U('Admin/logout')}')" style="text-align: center;cursor:pointer;"><a>退出</a></dd>
        </dl>
    </li>
</ul>