<!DOCTYPE html>
<html>
<include file="Public/head" />
<body>
<div class="layui-fluid">
    <div class="layui-row layui-col-space15">
        <div class="layui-col-md12">
            <div class="layui-card">
                <div class="layui-card-header">{$title}</div>
                <div class="layui-card-body">
                    <div class="layui-form">
                        <div class="layui-form-item">
                            <label class="layui-form-label">管理员分组</label>
                            <div class="layui-input-block">
                                <select name="group_id" class="layui-input w300">
                                    <option value="">管理员分组</option>
                                    <volist name="group_list" id="item">
                                        <option value="{$item.id}">{$item.name}</option>
                                    </volist>
                                </select>
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">管理员账号</label>
                            <div class="layui-input-block">
                                <input type="text" name="username" value="" class="layui-input w300" required>
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">管理员密码</label>
                            <div class="layui-input-block">
                                <input type="text" name="password" value="" class="layui-input w300" required>
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">状态</label>
                            <div class="layui-input-block">
                                <label class="layui-choose" for="status_1">
                                    <input type="radio" id="status_1" name="status" value="1" class="layui-input" checked required/>
                                    启用
                                </label>
                                <label class="layui-choose" for="status_2">
                                    <input type="radio" id="status_2" name="status" value="0" class="layui-input"/>
                                    禁用
                                </label>
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <div class="layui-input-block">
                                <button class="layui-btn" onclick="goback()">返回</button>
                                <button class="layui-btn" onclick="submit()">确认保存</button>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
</body>
<script>
    // 提交信息
    function submit() {
        var data = checkParam();
        if(!data) return false;
        doPost('', data, function(res) {
            showMsg(res.code, res.message, function() {
                if(res.code == 1) goback();
            });
        })
    }
</script>
</html>