body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1313px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1926_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1217px;
  height:941px;
}
#u1926 {
  position:absolute;
  left:96px;
  top:41px;
  width:1217px;
  height:941px;
}
#u1927 {
  position:absolute;
  left:2px;
  top:462px;
  width:1213px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1928_div {
  position:absolute;
  left:0px;
  top:0px;
  width:999px;
  height:804px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1928 {
  position:absolute;
  left:295px;
  top:171px;
  width:999px;
  height:804px;
}
#u1929 {
  position:absolute;
  left:2px;
  top:394px;
  width:995px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1930_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1000px;
  height:2px;
}
#u1930 {
  position:absolute;
  left:295px;
  top:221px;
  width:999px;
  height:1px;
}
#u1931 {
  position:absolute;
  left:2px;
  top:-8px;
  width:995px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1932_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u1932 {
  position:absolute;
  left:323px;
  top:260px;
  width:60px;
  height:60px;
}
#u1933 {
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1934_div {
  position:absolute;
  left:0px;
  top:0px;
  width:295px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1934 {
  position:absolute;
  left:400px;
  top:272px;
  width:295px;
  height:16px;
}
#u1935 {
  position:absolute;
  left:0px;
  top:0px;
  width:295px;
  white-space:nowrap;
}
#u1936_div {
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u1936 {
  position:absolute;
  left:400px;
  top:304px;
  width:139px;
  height:16px;
  color:#999999;
}
#u1937 {
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  white-space:nowrap;
}
#u1938_img {
  position:absolute;
  left:0px;
  top:0px;
  width:945px;
  height:2px;
}
#u1938 {
  position:absolute;
  left:325px;
  top:344px;
  width:944px;
  height:1px;
}
#u1939 {
  position:absolute;
  left:2px;
  top:-8px;
  width:940px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1940_div {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:85px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1940 {
  position:absolute;
  left:104px;
  top:275px;
  width:181px;
  height:85px;
}
#u1941 {
  position:absolute;
  left:2px;
  top:34px;
  width:177px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1942_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:15px;
}
#u1942 {
  position:absolute;
  left:125px;
  top:282px;
  width:16px;
  height:14px;
}
#u1943 {
  position:absolute;
  left:2px;
  top:-1px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1944_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
  color:#FF0000;
}
#u1944 {
  position:absolute;
  left:153px;
  top:282px;
  width:53px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
  color:#FF0000;
}
#u1945 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u1946 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1947_div {
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  height:160px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1947 {
  position:absolute;
  left:106px;
  top:171px;
  width:179px;
  height:160px;
}
#u1948 {
  position:absolute;
  left:2px;
  top:72px;
  width:175px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1949_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:15px;
}
#u1949 {
  position:absolute;
  left:127px;
  top:203px;
  width:16px;
  height:14px;
}
#u1950 {
  position:absolute;
  left:2px;
  top:-1px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1951_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
}
#u1951 {
  position:absolute;
  left:155px;
  top:203px;
  width:53px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
}
#u1952 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u1953_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
  color:#FF0000;
}
#u1953 {
  position:absolute;
  left:155px;
  top:298px;
  width:53px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
  color:#FF0000;
}
#u1954 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  word-wrap:break-word;
}
#u1955_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:15px;
}
#u1955 {
  position:absolute;
  left:127px;
  top:299px;
  width:16px;
  height:14px;
}
#u1956 {
  position:absolute;
  left:2px;
  top:-1px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1957_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:15px;
}
#u1957 {
  position:absolute;
  left:127px;
  top:267px;
  width:16px;
  height:14px;
}
#u1958 {
  position:absolute;
  left:2px;
  top:-1px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1959_div {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
}
#u1959 {
  position:absolute;
  left:155px;
  top:266px;
  width:64px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
}
#u1960 {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  word-wrap:break-word;
}
#u1961_div {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u1961 {
  position:absolute;
  left:314px;
  top:188px;
  width:128px;
  height:19px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u1962 {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  white-space:nowrap;
}
#u1963_div {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FF0000;
}
#u1963 {
  position:absolute;
  left:464px;
  top:188px;
  width:92px;
  height:19px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FF0000;
}
#u1964 {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  white-space:nowrap;
}
