body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1350px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1880_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1217px;
  height:941px;
}
#u1880 {
  position:absolute;
  left:133px;
  top:78px;
  width:1217px;
  height:941px;
}
#u1881 {
  position:absolute;
  left:2px;
  top:462px;
  width:1213px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1882_div {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:85px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1882 {
  position:absolute;
  left:143px;
  top:312px;
  width:181px;
  height:85px;
}
#u1883 {
  position:absolute;
  left:2px;
  top:34px;
  width:177px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1884_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:15px;
}
#u1884 {
  position:absolute;
  left:164px;
  top:319px;
  width:16px;
  height:14px;
}
#u1885 {
  position:absolute;
  left:2px;
  top:-1px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1886_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
  color:#FF0000;
}
#u1886 {
  position:absolute;
  left:192px;
  top:319px;
  width:53px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
  color:#FF0000;
}
#u1887 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u1888_div {
  position:absolute;
  left:0px;
  top:0px;
  width:999px;
  height:811px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1888 {
  position:absolute;
  left:332px;
  top:210px;
  width:999px;
  height:811px;
}
#u1889 {
  position:absolute;
  left:2px;
  top:398px;
  width:995px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1890_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1000px;
  height:2px;
}
#u1890 {
  position:absolute;
  left:332px;
  top:258px;
  width:999px;
  height:1px;
}
#u1891 {
  position:absolute;
  left:2px;
  top:-8px;
  width:995px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1892_img {
  position:absolute;
  left:0px;
  top:0px;
  width:243px;
  height:44px;
}
#u1892 {
  position:absolute;
  left:661px;
  top:941px;
  width:243px;
  height:44px;
}
#u1893 {
  position:absolute;
  left:2px;
  top:14px;
  width:239px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1894_div {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FF0000;
}
#u1894 {
  position:absolute;
  left:356px;
  top:229px;
  width:128px;
  height:19px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FF0000;
}
#u1895 {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  white-space:nowrap;
}
#u1896_div {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u1896 {
  position:absolute;
  left:518px;
  top:229px;
  width:92px;
  height:19px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u1897 {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  white-space:nowrap;
}
#u1898 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1899_div {
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  height:160px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1899 {
  position:absolute;
  left:144px;
  top:213px;
  width:179px;
  height:160px;
}
#u1900 {
  position:absolute;
  left:2px;
  top:72px;
  width:175px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1901_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:15px;
}
#u1901 {
  position:absolute;
  left:165px;
  top:245px;
  width:16px;
  height:14px;
}
#u1902 {
  position:absolute;
  left:2px;
  top:-1px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1903_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
}
#u1903 {
  position:absolute;
  left:193px;
  top:245px;
  width:53px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
}
#u1904 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u1905_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
  color:#FF0000;
}
#u1905 {
  position:absolute;
  left:193px;
  top:340px;
  width:53px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
  color:#FF0000;
}
#u1906 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  word-wrap:break-word;
}
#u1907_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:15px;
}
#u1907 {
  position:absolute;
  left:165px;
  top:341px;
  width:16px;
  height:14px;
}
#u1908 {
  position:absolute;
  left:2px;
  top:-1px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1909_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:15px;
}
#u1909 {
  position:absolute;
  left:165px;
  top:309px;
  width:16px;
  height:14px;
}
#u1910 {
  position:absolute;
  left:2px;
  top:-1px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1911_div {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
}
#u1911 {
  position:absolute;
  left:193px;
  top:308px;
  width:64px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
}
#u1912 {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  word-wrap:break-word;
}
#u1913 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1914_div {
  position:absolute;
  left:0px;
  top:0px;
  width:850px;
  height:113px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1914 {
  position:absolute;
  left:412px;
  top:284px;
  width:850px;
  height:113px;
}
#u1915 {
  position:absolute;
  left:2px;
  top:48px;
  width:846px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1916_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:38px;
}
#u1916 {
  position:absolute;
  left:356px;
  top:284px;
  width:35px;
  height:38px;
}
#u1917 {
  position:absolute;
  left:2px;
  top:11px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1918_div {
  position:absolute;
  left:0px;
  top:0px;
  width:549px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1918 {
  position:absolute;
  left:423px;
  top:304px;
  width:549px;
  height:16px;
}
#u1919 {
  position:absolute;
  left:0px;
  top:0px;
  width:549px;
  white-space:nowrap;
}
#u1920_div {
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u1920 {
  position:absolute;
  left:423px;
  top:363px;
  width:139px;
  height:16px;
  color:#999999;
}
#u1921 {
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  white-space:nowrap;
}
#u1922_div {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1922 {
  position:absolute;
  left:423px;
  top:337px;
  width:201px;
  height:16px;
}
#u1923 {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  white-space:nowrap;
}
#u1924_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1924 {
  position:absolute;
  left:1055px;
  top:321px;
  width:140px;
  height:40px;
}
#u1925 {
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
