body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1350px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1834_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1217px;
  height:941px;
}
#u1834 {
  position:absolute;
  left:133px;
  top:78px;
  width:1217px;
  height:941px;
}
#u1835 {
  position:absolute;
  left:2px;
  top:462px;
  width:1213px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1836_div {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:85px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1836 {
  position:absolute;
  left:143px;
  top:312px;
  width:181px;
  height:85px;
}
#u1837 {
  position:absolute;
  left:2px;
  top:34px;
  width:177px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1838_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:15px;
}
#u1838 {
  position:absolute;
  left:164px;
  top:319px;
  width:16px;
  height:14px;
}
#u1839 {
  position:absolute;
  left:2px;
  top:-1px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1840_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
  color:#FF0000;
}
#u1840 {
  position:absolute;
  left:192px;
  top:319px;
  width:53px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
  color:#FF0000;
}
#u1841 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u1842_div {
  position:absolute;
  left:0px;
  top:0px;
  width:999px;
  height:811px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1842 {
  position:absolute;
  left:332px;
  top:210px;
  width:999px;
  height:811px;
}
#u1843 {
  position:absolute;
  left:2px;
  top:398px;
  width:995px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1844_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1000px;
  height:2px;
}
#u1844 {
  position:absolute;
  left:332px;
  top:258px;
  width:999px;
  height:1px;
}
#u1845 {
  position:absolute;
  left:2px;
  top:-8px;
  width:995px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1846_img {
  position:absolute;
  left:0px;
  top:0px;
  width:243px;
  height:44px;
}
#u1846 {
  position:absolute;
  left:661px;
  top:941px;
  width:243px;
  height:44px;
}
#u1847 {
  position:absolute;
  left:2px;
  top:14px;
  width:239px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1848_div {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FF0000;
}
#u1848 {
  position:absolute;
  left:356px;
  top:229px;
  width:128px;
  height:19px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FF0000;
}
#u1849 {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  white-space:nowrap;
}
#u1850_div {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u1850 {
  position:absolute;
  left:518px;
  top:229px;
  width:92px;
  height:19px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u1851 {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  white-space:nowrap;
}
#u1852 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1853_div {
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  height:160px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1853 {
  position:absolute;
  left:144px;
  top:213px;
  width:179px;
  height:160px;
}
#u1854 {
  position:absolute;
  left:2px;
  top:72px;
  width:175px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1855_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:15px;
}
#u1855 {
  position:absolute;
  left:165px;
  top:245px;
  width:16px;
  height:14px;
}
#u1856 {
  position:absolute;
  left:2px;
  top:-1px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1857_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
}
#u1857 {
  position:absolute;
  left:193px;
  top:245px;
  width:53px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
}
#u1858 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u1859_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
  color:#FF0000;
}
#u1859 {
  position:absolute;
  left:193px;
  top:340px;
  width:53px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
  color:#FF0000;
}
#u1860 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  word-wrap:break-word;
}
#u1861_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:15px;
}
#u1861 {
  position:absolute;
  left:165px;
  top:341px;
  width:16px;
  height:14px;
}
#u1862 {
  position:absolute;
  left:2px;
  top:-1px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1863_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:15px;
}
#u1863 {
  position:absolute;
  left:165px;
  top:309px;
  width:16px;
  height:14px;
}
#u1864 {
  position:absolute;
  left:2px;
  top:-1px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1865_div {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
}
#u1865 {
  position:absolute;
  left:193px;
  top:308px;
  width:64px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
}
#u1866 {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  word-wrap:break-word;
}
#u1867 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1868_div {
  position:absolute;
  left:0px;
  top:0px;
  width:850px;
  height:113px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1868 {
  position:absolute;
  left:412px;
  top:284px;
  width:850px;
  height:113px;
}
#u1869 {
  position:absolute;
  left:2px;
  top:48px;
  width:846px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1870_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:38px;
}
#u1870 {
  position:absolute;
  left:356px;
  top:284px;
  width:35px;
  height:38px;
}
#u1871 {
  position:absolute;
  left:2px;
  top:11px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1872_div {
  position:absolute;
  left:0px;
  top:0px;
  width:521px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1872 {
  position:absolute;
  left:423px;
  top:304px;
  width:521px;
  height:16px;
}
#u1873 {
  position:absolute;
  left:0px;
  top:0px;
  width:521px;
  white-space:nowrap;
}
#u1874_div {
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u1874 {
  position:absolute;
  left:423px;
  top:363px;
  width:139px;
  height:16px;
  color:#999999;
}
#u1875 {
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  white-space:nowrap;
}
#u1876_div {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1876 {
  position:absolute;
  left:423px;
  top:337px;
  width:201px;
  height:16px;
}
#u1877 {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  white-space:nowrap;
}
#u1878_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1878 {
  position:absolute;
  left:1055px;
  top:321px;
  width:140px;
  height:40px;
}
#u1879 {
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
