body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1876px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u592_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1215px;
  height:920px;
}
#u592 {
  position:absolute;
  left:96px;
  top:47px;
  width:1215px;
  height:920px;
}
#u593 {
  position:absolute;
  left:2px;
  top:452px;
  width:1211px;
  visibility:hidden;
  word-wrap:break-word;
}
#u594_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1215px;
  height:923px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(244, 244, 244, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u594 {
  position:absolute;
  left:96px;
  top:178px;
  width:1215px;
  height:923px;
}
#u595 {
  position:absolute;
  left:2px;
  top:454px;
  width:1211px;
  visibility:hidden;
  word-wrap:break-word;
}
#u596_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1001px;
  height:900px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u596 {
  position:absolute;
  left:304px;
  top:178px;
  width:1001px;
  height:900px;
}
#u597 {
  position:absolute;
  left:2px;
  top:442px;
  width:997px;
  visibility:hidden;
  word-wrap:break-word;
}
#u598_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1002px;
  height:2px;
}
#u598 {
  position:absolute;
  left:304px;
  top:236px;
  width:1001px;
  height:1px;
}
#u599 {
  position:absolute;
  left:2px;
  top:-8px;
  width:997px;
  visibility:hidden;
  word-wrap:break-word;
}
#u600_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u600 {
  position:absolute;
  left:326px;
  top:196px;
  width:73px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u601 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u602 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u603_div {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  height:351px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u603 {
  position:absolute;
  left:103px;
  top:178px;
  width:183px;
  height:351px;
}
#u604 {
  position:absolute;
  left:2px;
  top:168px;
  width:179px;
  visibility:hidden;
  word-wrap:break-word;
}
#u605 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u606_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u606 {
  position:absolute;
  left:187px;
  top:199px;
  width:65px;
  height:19px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u607 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u608_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:23px;
}
#u608 {
  position:absolute;
  left:138px;
  top:197px;
  width:39px;
  height:22px;
}
#u609 {
  position:absolute;
  left:2px;
  top:3px;
  width:35px;
  word-wrap:break-word;
}
#u610 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u611_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u611 {
  position:absolute;
  left:187px;
  top:241px;
  width:65px;
  height:19px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u612 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u613_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:23px;
}
#u613 {
  position:absolute;
  left:138px;
  top:239px;
  width:39px;
  height:22px;
}
#u614 {
  position:absolute;
  left:2px;
  top:3px;
  width:35px;
  word-wrap:break-word;
}
#u615 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u616_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u616 {
  position:absolute;
  left:187px;
  top:283px;
  width:65px;
  height:19px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u617 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u618_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:23px;
}
#u618 {
  position:absolute;
  left:138px;
  top:281px;
  width:39px;
  height:22px;
}
#u619 {
  position:absolute;
  left:2px;
  top:3px;
  width:35px;
  word-wrap:break-word;
}
#u620 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u621_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u621 {
  position:absolute;
  left:187px;
  top:325px;
  width:65px;
  height:19px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u622 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u623_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:23px;
}
#u623 {
  position:absolute;
  left:138px;
  top:323px;
  width:39px;
  height:22px;
}
#u624 {
  position:absolute;
  left:2px;
  top:3px;
  width:35px;
  word-wrap:break-word;
}
#u625 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u626_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u626 {
  position:absolute;
  left:187px;
  top:367px;
  width:65px;
  height:19px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u627 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u628_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:23px;
}
#u628 {
  position:absolute;
  left:138px;
  top:365px;
  width:39px;
  height:22px;
}
#u629 {
  position:absolute;
  left:2px;
  top:3px;
  width:35px;
  word-wrap:break-word;
}
#u630 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u631_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u631 {
  position:absolute;
  left:187px;
  top:409px;
  width:65px;
  height:19px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u632 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u633_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:23px;
}
#u633 {
  position:absolute;
  left:138px;
  top:407px;
  width:39px;
  height:22px;
}
#u634 {
  position:absolute;
  left:2px;
  top:3px;
  width:35px;
  word-wrap:break-word;
}
#u635_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#1E1E1E;
}
#u635 {
  position:absolute;
  left:187px;
  top:446px;
  width:65px;
  height:19px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#1E1E1E;
}
#u636 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u637_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FF0000;
}
#u637 {
  position:absolute;
  left:187px;
  top:481px;
  width:65px;
  height:19px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FF0000;
}
#u638 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u639 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u640_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u640 {
  position:absolute;
  left:325px;
  top:333px;
  width:73px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u641 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u642 {
  position:absolute;
  left:325px;
  top:257px;
  width:960px;
  height:43px;
}
#u642_input {
  position:absolute;
  left:0px;
  top:0px;
  width:960px;
  height:43px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u643_div {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#BCBCBC;
}
#u643 {
  position:absolute;
  left:408px;
  top:335px;
  width:141px;
  height:16px;
  color:#BCBCBC;
}
#u644 {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  white-space:nowrap;
}
#u645_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u645 {
  position:absolute;
  left:735px;
  top:1023px;
  width:140px;
  height:40px;
}
#u646 {
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
#u647_div {
  position:absolute;
  left:0px;
  top:0px;
  width:960px;
  height:398px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(201, 201, 201, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u647 {
  position:absolute;
  left:325px;
  top:376px;
  width:960px;
  height:398px;
}
#u648 {
  position:absolute;
  left:2px;
  top:191px;
  width:956px;
  visibility:hidden;
  word-wrap:break-word;
}
#u649_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u649 {
  position:absolute;
  left:1235px;
  top:748px;
  width:37px;
  height:16px;
}
#u650 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u651_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u651 {
  position:absolute;
  left:325px;
  top:791px;
  width:73px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u652 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u653 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u654_div {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:93px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(201, 201, 201, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u654 {
  position:absolute;
  left:703px;
  top:823px;
  width:108px;
  height:93px;
}
#u655 {
  position:absolute;
  left:2px;
  top:38px;
  width:104px;
  visibility:hidden;
  word-wrap:break-word;
}
#u656_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:33px;
}
#u656 {
  position:absolute;
  left:741px;
  top:853px;
  width:33px;
  height:33px;
}
#u657 {
  position:absolute;
  left:2px;
  top:8px;
  width:29px;
  visibility:hidden;
  word-wrap:break-word;
}
#u658_div {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#BCBCBC;
}
#u658 {
  position:absolute;
  left:408px;
  top:794px;
  width:93px;
  height:16px;
  color:#BCBCBC;
}
#u659 {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  white-space:nowrap;
}
#u660_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u660 {
  position:absolute;
  left:1243px;
  top:271px;
  width:29px;
  height:16px;
}
#u661 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u662_div {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#BCBCBC;
}
#u662 {
  position:absolute;
  left:349px;
  top:397px;
  width:171px;
  height:16px;
  color:#BCBCBC;
}
#u663 {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  white-space:nowrap;
}
#u664 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u665_img {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:93px;
}
#u665 {
  position:absolute;
  left:325px;
  top:823px;
  width:115px;
  height:93px;
}
#u666 {
  position:absolute;
  left:2px;
  top:38px;
  width:111px;
  visibility:hidden;
  word-wrap:break-word;
}
#u667_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u667 {
  position:absolute;
  left:420px;
  top:823px;
  width:21px;
  height:21px;
}
#u668 {
  position:absolute;
  left:2px;
  top:2px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
#u669 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u670_img {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:93px;
}
#u670 {
  position:absolute;
  left:454px;
  top:823px;
  width:115px;
  height:93px;
}
#u671 {
  position:absolute;
  left:2px;
  top:38px;
  width:111px;
  visibility:hidden;
  word-wrap:break-word;
}
#u672_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u672 {
  position:absolute;
  left:548px;
  top:823px;
  width:21px;
  height:21px;
}
#u673 {
  position:absolute;
  left:2px;
  top:2px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
#u674 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u675_img {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:93px;
}
#u675 {
  position:absolute;
  left:578px;
  top:823px;
  width:115px;
  height:93px;
}
#u676 {
  position:absolute;
  left:2px;
  top:38px;
  width:111px;
  visibility:hidden;
  word-wrap:break-word;
}
#u677_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u677 {
  position:absolute;
  left:672px;
  top:823px;
  width:21px;
  height:21px;
}
#u678 {
  position:absolute;
  left:2px;
  top:2px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
#u679_img {
  position:absolute;
  left:0px;
  top:0px;
  width:650px;
  height:44px;
}
#u679 {
  position:absolute;
  left:325px;
  top:933px;
  width:650px;
  height:44px;
}
#u680 {
  position:absolute;
  left:2px;
  top:14px;
  width:646px;
  visibility:hidden;
  word-wrap:break-word;
}
#u681_div {
  position:absolute;
  left:0px;
  top:0px;
  width:523px;
  height:224px;
  background:inherit;
  background-color:rgba(255, 255, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u681 {
  position:absolute;
  left:1353px;
  top:47px;
  width:523px;
  height:224px;
}
#u682 {
  position:absolute;
  left:2px;
  top:104px;
  width:519px;
  visibility:hidden;
  word-wrap:break-word;
}
#u683_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FF0000;
}
#u683 {
  position:absolute;
  left:1379px;
  top:58px;
  width:65px;
  height:19px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FF0000;
}
#u684 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u685_div {
  position:absolute;
  left:0px;
  top:0px;
  width:497px;
  height:112px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  line-height:28px;
}
#u685 {
  position:absolute;
  left:1379px;
  top:87px;
  width:497px;
  height:112px;
  font-size:16px;
  line-height:28px;
}
#u686 {
  position:absolute;
  left:0px;
  top:0px;
  width:497px;
  word-wrap:break-word;
}
#u687_div {
  position:absolute;
  left:0px;
  top:0px;
  width:523px;
  height:193px;
  background:inherit;
  background-color:rgba(255, 255, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u687 {
  position:absolute;
  left:1353px;
  top:293px;
  width:523px;
  height:193px;
}
#u688 {
  position:absolute;
  left:2px;
  top:88px;
  width:519px;
  visibility:hidden;
  word-wrap:break-word;
}
#u689_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FF0000;
}
#u689 {
  position:absolute;
  left:1379px;
  top:304px;
  width:97px;
  height:19px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FF0000;
}
#u690 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u691_div {
  position:absolute;
  left:0px;
  top:0px;
  width:497px;
  height:112px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  line-height:28px;
}
#u691 {
  position:absolute;
  left:1379px;
  top:333px;
  width:497px;
  height:112px;
  font-size:16px;
  line-height:28px;
}
#u692 {
  position:absolute;
  left:0px;
  top:0px;
  width:497px;
  word-wrap:break-word;
}
